*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

header, main{
    background-color: #010001;
    
}

.d-flex{
    display: flex;
}

/* #region header */
header{
    padding: 0.6rem 0.3rem;
}
.site_header{
    justify-content: flex-end;
}
.h_icon{
    justify-content: flex-end;
    
    width: 12%;
    color: white;
    gap: 5px;
}
.h_icon>div{
    padding: 5px;
    background-color: #4b4b4a;
    border-radius: 5px;
    
}

/* #endregion header */

/* #region main */

.container{
    width: 80%;
    margin: auto;
    padding: 2rem 0.5rem;
    
}

.row{
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    overflow: hidden;
    height: 80vh;
    overflow: auto;
}

.user{
    position: relative;
}

img{
    padding: 0.2rem 0;
}
img+div{
    position: absolute;
    bottom: 0.7rem;
    color: white;
    background-color: rgba(104, 104, 104, 0.657);
    padding: 0.3rem;
    font-size: small;
}
/* #endregion main */

/* #region footer */

footer{
    background-color: #222222;
    color: white;
}
.footer_container{
    justify-content: space-between;
    align-content: center;
}

.f_section{
    align-items: center;
}

.f_icon{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding: 1rem;
}

.f_icon>i{
    padding-bottom: 1.3rem;
}

.fa-angle-up{
    padding-left: 5px;
    padding-right: 1.5rem;
}

.f_section_3{
    height: 87.8px;
    width: 10%;
    background-color: #4b4b4a;
    color: red;
    justify-content: center;
    align-items: center;
}
/* #endregion footer */

/* #region debug */

.debug main{
    height: 100vh;
    background-color: red;
}

.debug .container{
    background-color: gray;
    height: 100vh;
}
/* #endregion debug */